<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">IDGS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="my-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="resistencias">Calculadora de resistencias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cinepolis">Cinepolis</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="distancia">Calculo de distacia entre 2 puntos</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="pizzeria">Pizzeria</a>
      </li>
    </ul>
  </div>
</nav>
